body{
    display: flex;
    align-content: center;
    justify-content: center;
}
button{
    padding: 10px;
    /* width: 30px; */
    /* background-color: black; */
    color: lightgray;
}

.container{
    display: flex;
    height: auto;
    width: 350px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 7px;
    /* background-color: black; */
}

.r{
    width: auto;
    align-items: center;
}

.row0{
    /* width: 100%; */
    background-color: blue;
    display: flex;
    justify-content: center;
}

.view{
    height: 27px;
    text-align: right;
    color: grey;
}

.nums{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}