body{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    border: 2px solid rgb(75, 73, 73);
    padding: 16px;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
}

.button{
    padding: 10px;
    height: 50px;
    /* width: 30px; */
    width: 100%;
    margin: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(25, 29, 29);
    /* box-shadow: 0 0 40px rgb(25, 29, 29); */
    border-radius: 8px;
    font-size: 24px;
}

.row0{
    width: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#clear{
    height: 50px;
    padding: 10px;
    width: 100%;
    margin: 3px;
    font-size: 24px;
    background-color: rgb(25, 29, 29);
    color: white;
    border-radius: 8px;
    border: 1px solid black;
}

#delete{
    width: 100%;
    padding: 10px;
    height: 50px;
    margin: 3px;
    background-color: rgb(25, 29, 29);
    border-radius: 8px;
    border: 1px solid black;
    color: white;
    font-size: 24px;
}

.r{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    align-items: center;
    /* background-color: red; */
}

.view{
    height: auto;
    width: 92%;
    text-align: right;
    font-size: 24.5px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: rgb(21, 130, 189);
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 3px;
    /* background-color: lightsalmon; */
}

.nums{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button.clicked{
    /* background-color: red; */
    background-color: black;
}
